<div class="modal">
    <button class="modal__btn">Call modal</button>
    <div class="modal__window">

        <div class="modal__content">
            <span class="modal__close">X</span>
            modal text 1
        </div>
    </div>
</div>

<div class="modal">
    <button class="modal__btn">Call modal2</button>
    <div class="modal__window">
        <div class="modal__content">
            <span class="modal__close">X</span>
            modal text 2
        </div>
    </div>
</div>