@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

@font-face {
  font-family: 'Gilroy-Bold';
  src: url($gilroyPath + 'Gilroy-Bold.eot');
  src: url($gilroyPath + 'Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url($gilroyPath + 'Gilroy-Bold.woff2') format('woff2'),
  url($gilroyPath + 'Gilroy-Bold.woff') format('woff'),
  url($gilroyPath + 'Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url($gilroyPath + 'Gilroy-Medium.eot');
  src: url($gilroyPath + 'Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url($gilroyPath + 'Gilroy-Medium.ttf') format('truetype'),
  url($gilroyPath + 'Gilroy-Medium.woff') format('woff'),
  url($gilroyPath + 'Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
}

