.footer {
  background-color: #031B34;
  padding-bottom: 30px;
  @include breakpoint(xl){
    padding-left: 15px;
    padding-right: 15px;
  }
  @include breakpoint(sm){
    padding-bottom: 15px;
  }

  &__row {
  }

  &__content {
    display: flex;
    column-gap: 20px;
    @include breakpoint(md){
      flex-direction: column;
    }
  }

  &__logo-wrapper {
    flex-basis: 40%;

    @include breakpoint(md){
      margin: 0 auto 45px;
      display: flex;
      align-items: center;
      column-gap: 25px;
    }
    @include breakpoint(xs38){
      row-gap: 20px;
      flex-direction: column;
    }
  }

  &__logo {
    display: flex;
    margin-bottom: 25px;
    @include breakpoint(md){
      margin-bottom: unset;
    }
  }

  &__about {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 12px;
    line-height: 1.15;
    color: #FFFFFF;
    max-width: 170px;
    @include breakpoint(xs38){
      text-align: center;
    }
  }

  &__lists {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    flex-basis: 60%;
    @include breakpoint(md){
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include breakpoint(sm){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
    }
    @include breakpoint(xs38){
      grid-template-columns: 1fr;
    }
  }
  &__list-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 36px;

    @include breakpoint(md){
      row-gap: 25px;
    }
    @include breakpoint(sm){
      row-gap: 20px;
    }
    @include breakpoint(xs38){
      row-gap: unset;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    @include breakpoint(md){
      row-gap: 12px;
    }
  }

  &__list-title {
    //margin-bottom: 36px;
    font-weight: 700;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    background-color: unset;
    text-align: start;
    @include breakpoint(md){
      //margin-bottom: 20px;
    }
    @include breakpoint(sm){
      //margin-bottom: 10px;
      font-size: 16px;
    }
  }

  .accordion__item {
  }

  .accordion__header {
    transition: 0.4s;
  }

  .accordion__header:after {
    display: none;
    @include breakpoint(xs38){
      content: '\002B';
      display: block;
      color: #fff;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
  }
  .active{
    margin-bottom: 20px;
    &:after {
      content: "\2212";
    }
  }

  .accordion__body {
    @include breakpoint(xs38){
      background-color: unset;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }

  &__item {
    max-width: 120px;
    @include breakpoint(sm){
      max-width: unset;
    }
  }

  &__link {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 12px;
    line-height: 1.15;
    color: #FFFFFF;
    position: relative;

    @include breakpoint(sm){
      font-size: 14px;
    }
    &:visited{
      color: #fff;
    }
    &:before{
      content: '';
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
  }

  &__rights {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 80px;

    @include breakpoint(lg){
      margin-top: 60px;
    }
    @include breakpoint(md){
      margin-top: 40px;
    }
    @include breakpoint(sm){
      margin-top: 30px;
    }
  }
}