@import "mixins";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: sans-serif;
  font-size: 14px;
  color: #000;

  &.lock{
    overflow: hidden;
  }
}
.normalize-element{
  transform:translate(0, 0) scale(1) !important;
  opacity: 1 !important;
}
