
.header{
  background: #040C1A;
}

.nav {
  //margin-top: ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 15px 0;
  //background-color:#040C1A;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  //height:50px;
  @include breakpoint(lg){
    padding-top: 25px;
  }
  @include breakpoint($navBreakpoint){
    position: fixed;
    width: 100%;
  }
  @include breakpoint(md){
    padding: 15px 15px;
  }
  &__btn{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    white-space: nowrap;
    &:visited{
      color: #fff;
    }

  }
  &__btn-register{
    padding: 16px 45px 17px;
    background-color: #FF4820;
    transition: .3s ease-in-out;
    &:hover{
      box-shadow: inset 0 0 25px rgba(0,0,0, .3);
      //background-color: #D23E1EFF;
    }
  }
  &__list{
    display: flex;
    column-gap:20px;
    flex-wrap:wrap;
    @include breakpoint($navBreakpoint){
      flex-wrap: nowrap;
      flex-direction: column;
      text-align: center;
      justify-content: start;
      margin: 0 auto;
    }
  }
  &__btn-wrapper{
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-left: 20px;
    @include breakpoint($navBreakpoint){
      margin-top: 20px;
      margin-left: unset;
    }
    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &__menu {
    overflow: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    &.active{
      @include breakpoint($navBreakpoint){
        background-color: #040C1A;
        left: 0;
        height: 100%;
        justify-content: start;
      }

    }

    @include breakpoint($navBreakpoint){
      padding: 40px 0 25px;
      flex-direction: column;
      height: 100%;
      position: fixed;
      left: -100%;
      top:0;
      width: 100%;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
    @include breakpoint(sm){
      padding: 30px 0 20px;
    }
  }

  &__item {
    @include breakpoint($navBreakpoint){
      margin:2rem 0;
    }
  }
  &__btn-login{
   position: relative;
    &:before{
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -1px;
      transition: .3s ease-in-out;
      height: 1px;
      width: 100%;
      opacity: 0;
      color: #fff;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
  }
  &__link{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    white-space: nowrap;


    &:hover{
      color: #fff;
    }
  }

  &__logo {
    display: flex;
    margin-right: 68px;
    position: relative;
    z-index: 1;
  }
}

.hamburger {
  display: none;
  background-color: unset;

  &:focus{
    //background-color: tomato;
  }
  @include breakpoint($navBreakpoint){
    display: flex;
    flex-direction:column;
    row-gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
}




