/*############ HERO #############*/
.hero {
  overflow: hidden;

  background-color: #040C1A;
  padding: 100px 0 120px;
  @include breakpoint(xl){
    padding-left: 15px;
    padding-right: 15px;
  }
  @include breakpoint(md){
    padding-bottom: 60px;
  }
  @include breakpoint(sm){
    padding-bottom: 40px;
  }
  .content{
    position: relative;
  }

  &__bg-bottom{
    width: 700px;
    height: 500px;
    background: radial-gradient(closest-side, #072D56 48%, rgba(0, 0, 0, 0) 100%);
    filter: blur(282px);
    position: absolute;
    right: -385px;
    bottom: -100px;
  }
  &__bg-top{
    width: 1013px;
    height: 1013px;
    filter: blur(202px);
    background: -o-radial-gradient(closest-side, #002853 48%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(closest-side, #002853 48%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: -422px;
    left: -471px;
    @include breakpoint(xl){
      width: calc(100vw / 1.18);
      height: calc(100vw / 1.18);
      top: calc(100vw / -2.84);
      left: calc(100vw / -2.55);
    }
    @include breakpoint(sm){
      width: 100vw;
      height: 100vw;
      top: -40vw;
      left: -40vw;
    }
  }

  &__row {
    position: relative;

    @include breakpoint(md){
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    position: relative;
    z-index: 1;

    @include breakpoint(lg){
      max-width: 60%;
    }
    @include breakpoint(md){
      max-width: 100%;
    }
  }

  &__title {
    max-width: 620px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 120%;
    letter-spacing: -0.04em;
    @include fluid-type(768px, $maxWidth, 48px, 62px);
    background-image: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transform:translateY(-120px);
    opacity: 0;
    transition: transform .6s ease-in-out, opacity .6s ease-in-out;
    @include breakpoint(md){
      text-align: center;
      margin: 0 auto;
      @include fluid-type(380px, 768px, 32px,  48px);
    }
  }

  &__desc {
    max-width: 560px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #81AFDD;
    transform:translateX(120px);
    opacity: 0;
    transition: transform .6s ease-in-out, opacity .6s ease-in-out;
    @include fluid-type(380px, 992px, 16px, 20px);
    @include breakpoint(lg){
      text-shadow: 1px 1px 1px #000;
    }
    @include breakpoint(md){
      text-align: center;
      max-width: 100%;
    }
    @include breakpoint(sm){

      text-shadow: unset;
    }

  }

  &__form {
    display: flex;
    max-width: 630px;
    margin-top: 40px;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    @include breakpoint(md){
      max-width: 100%;
    }
    @include breakpoint(sm){
      flex-direction: column;
    }
  }
  &__input-wrapper{
    width: fit-content;
  }
  &__input {
    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    padding: 23px 32px;
    background: #052D56;
    border-radius: 5px 0 0 5px;
    width: 100%;
    transition: .3s ease-in-out;
    @include fluid-type(380px, 992px, 16px, 20px);
    &::placeholder{
      color: #3D6184;
      transition: .3s ease-in-out;
      @include breakpoint(md){
        text-align: center;
      }
    }
    &:focus{
      background-color: #07407a;
      &::placeholder{
        color: #1c2d3f;
      }
    }
    @include breakpoint(md){
      padding: 16px 24px;
      text-align: center;
    }
    @include breakpoint(sm){
      border-radius: 5px 5px 0 0 ;
    }
  }

  &__submit-btn {
    white-space: nowrap;
    background: #FF4820;
    border-radius: 0 5px 5px 0;
    display: flex;
    padding: 23px 26px 23px 34px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    transition: .3s ease-in-out;
    @include fluid-type(380px, 992px, 16px, 20px);
    &:hover{
      box-shadow: inset 0 0 40px rgba(0,0,0,.3);
    }
    @include breakpoint(md){
      padding: 16px 24px;
      display: flex;
      justify-content: center;

    }
    @include breakpoint(sm){
      text-align: center;
      border-radius: 0 0 5px 5px;
    }

  }

  &__users {
  }

  .users {
    display: flex;
    column-gap: 14px;
    align-items: center;
    @include breakpoint(md){
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      row-gap: 15px;
    }
    &__pictures {
      display: flex;
      position: relative;
      min-width: calc(24px * 7 + 12px);
      min-height: 36px;
    }

    &__img-wrapper {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      position: absolute;
      overflow: hidden;
      opacity: 0;
      transition:opacity .3s ease-in-out;
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          left: ($i - 1) * 24px;
        }
      }
    }

    &__profile-img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
    }

    &__total {
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #000;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 8px;
      line-height: 38px;
      border: 2px solid #fff;
      background-color: #13ded2;
    }

    &__desc {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 38px;
      color: #FFFFFF;
      opacity: 0;
      transition: opacity .6s ease-in-out;
    }
  }

  &__img-wrapper {
    max-width: 667px;
    position: absolute;
    top: -100px;
    right: -110px;


    @include breakpoint(md){
      position: relative;
      right: unset;
      top: -60px;
      height: 0;
      padding-bottom: 93%;
    }
    @include breakpoint(sm){
      top: -35px;
    }

  }

  &__img {
    opacity: 0;
    transform: translateY(-120px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
  }
}
/*############ HERO END #############*/

/*############ CLIENTS #############*/

.clients {
  background-color: #040C1A;
  padding: 0 15px 120px;
  overflow: hidden;
  @include breakpoint(md){
    padding-bottom: 60px;
  }
  @include breakpoint(sm){
    padding-bottom: 40px;
  }


  &__row {
    display: flex;
    column-gap: 46px;
    //margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;

    @include breakpoint(xl){
      column-gap: calc(100vw / 26);
    }
    @include breakpoint(lg){
    }
    @include breakpoint(sm){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;
    }
  }

  &__item {
    opacity: 0;
    transform:translate(0, 40px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    @include breakpoint(md){
      transform:translate(60px, 0);
    }
    @include breakpoint(sm){
      &:nth-child(odd){
        margin-left: auto;
        transform:translate(-60px, 0);
      }
      &:nth-child(even){
        margin-right: auto;
        transform:translate(60px, 0);
      }
    }
  }

  &__img {
  }
}
/*############ CLIENTS END #############*/

/*############ ABOUT #############*/

.about {
  background-color: #040C1A;
  overflow: hidden;
  @include breakpoint(xl){
    padding: 0 15px;
  }
  &__row {
    padding: 60px 52px;
    background-color: #042c54;
    overflow: hidden;
    position: relative;
    @include breakpoint(lg){
      padding: 45px 40px;
    }
    @include breakpoint(md){
      padding: 30px 26px;
    }
    @include breakpoint(sm){
      padding: 20px 16px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    position: relative;
    z-index: 1;
    @include breakpoint(lg){
      row-gap: 20px;
    }
    @include breakpoint(md){
      row-gap: 13px;
    }
    @include breakpoint(sm){
      row-gap: 0;
    }

    &--big{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 40px;
      .about__card-title{
        white-space: nowrap;
      }
      .about__card-txt{
        padding-top: 17px;
        max-width: 730px;
      }
      @include breakpoint(md){
        flex-direction: column;
        row-gap: 0;
      }
    }
  }

  &__card--big {
  }

  &__card-title {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 310%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    @include fluid-type(380px, $maxWidth, 18px, 24px);

    &:before{
      content: '';
      display: block;
      width: 38px;
      height: 3px;
      background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
      left: 0;
      top: 5px;
    }
  }

  &__card-txt {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    @include fluid-type(380px, $maxWidth, 14px, 16px);
    color: #81AFDD;
  }

  &__title-wrapper {
    padding: 90px 0;
    justify-content: space-between;
    display: flex;
    column-gap: 20px;
    @include breakpoint(lg){
      padding: 75px 0;
    }
    @include breakpoint(md){
      padding: 60px 0;
      row-gap: 10px;
      flex-direction: column;
    }
    @include breakpoint(sm){
      padding: 45px 0;
    }
  }

  &__title {
    max-width: 472px;
    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.3;
    background-image: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @include fluid-type(380px, $maxWidth, 26px, 34px);

  }

  &__lib-link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #FF8A71;
    padding-top: 7px;
    @include fluid-type(380px, $maxWidth, 14px, 16px);


  }

  &__bottom-gradient{
    width: 623px;
    height: 558px;
    filter: blur(40px);
    background: radial-gradient( closest-side, #1B78DE 48%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    right: -420px;
    bottom: -240px;
    @include breakpoint(xl){
      width: calc(100vw / 1.93);
      height: calc(100vw / 2.15);
      right: calc(100vw / -2.86);
      bottom: calc(100vw / -5);
    }
    @include breakpoint(md){
      right: calc(100vw / -4);
      bottom: calc(100vw / -7);
    }
  }
  &__top-gradient{
    width: 581px;
    height: 410px;
    position: absolute;
    top: -274px;
    left: -370px;
    background: radial-gradient( closest-side, #0F4279 65%, rgba(0, 0, 0, 0) 115%);
    box-shadow: 0 0 4px rgba(0,0,0, .1);
    border-radius: 50%;

    @include breakpoint(xl){
      width: calc(100vw / 2.06);
      height: calc(100vw / 2.93);
      top: calc(100vw / -4.38);
      left: calc(100vw / -3.24);
    }
    @include breakpoint(md){
      width: calc(100vw / 2.06);
      height: calc(100vw / 2.93);
      top: calc(100vw / -6);
      left: calc(100vw / -5);
    }
    @include breakpoint(sm){
      width: calc(100vw );
      height: calc(100vw / 2);
      top: calc(100vw / -3);
      left: calc(100vw / -2);
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 42px;
    @include breakpoint(xl){
      column-gap: calc(100vw / 28);
    }
    @include breakpoint(md){
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      row-gap:25px;
    }
    @include breakpoint(sm){
      grid-template-columns: 1fr;
    }
  }
}

/*############ ABOUT END #############*/

/*############ ACCESS #############*/

.access {
  overflow: hidden;
  background-color: #040C1A;
  padding: 200px 0 45px;
  @include breakpoint(xl){
    padding-left: 15px;
    padding-right: 15px;
  }
  @include breakpoint(lg){
    padding-top: 100px;
  }
  @include breakpoint(md){
    //padding-top: 60px;
  }
  @include breakpoint(sm){
    padding-top: 60px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    @include breakpoint(lg){
      flex-direction: column;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 26px;

    @include breakpoint(lg){
      flex-direction: row;
      justify-content: space-between;
      column-gap: 20px;
    }

    @include breakpoint(md){
      flex-direction: column;
    }
  }

  &__title {
    @extend .about__title;
    max-width: 430px;
    width: 430px;
    opacity: 0;
    transform: translateY(-120px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    @include breakpoint(lg){
      transform: translateY(-80px);
    }
    @include breakpoint(sm){
      max-width: unset;
      width: 100%;
      //text-align: center;
    }
  }

  &__link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #FF8A71;
    position: relative;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    transform: translateY(120px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    @include fluid-type(380px, $maxWidth, 12px, 16px);
    @include breakpoint(lg){
      transform: translateX(80px);
      padding-top: 5px;
    }
    @include breakpoint(sm){
      //margin: 0 auto;
    }
    &:visited{
      color: #FF8A71;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #FF8A71;
      opacity: 0;
      transition: .3s ease-in-out;
      left: 0;
      bottom: 2px;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }

  }

  &__table {
  }

  .table {
    max-width: 590px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include breakpoint(lg){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
      gap: 30px;
      margin-top: 40px;
    }
    @include breakpoint(sm){
      display: flex;
      flex-direction: column;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      @include breakpoint(lg){
        flex-direction: column;
        row-gap: 20px;
      }
      @include breakpoint(sm){
        row-gap: 10px;
      }
    }

    &__row-title {
      max-width: 182px;
      margin-top: 5px;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.04em;
      color: #FFFFFF;
      position: relative;
      opacity: 0;
      transform: translateX(-60px);
      transition: opacity .6s ease-in-out, transform .6s ease-in-out;
      @include fluid-type(380px, $maxWidth, 14px, 18px);

      @include breakpoint(lg){
        max-width: 100%;
      }
      &:before{
        content: '';
        position: absolute;
        display: block;
        width: 38px;
        height: 3px;
        background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
        left: 0;
        top: -8px;
      }
    }

    &__row-txt {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 170%;
      color: #81AFDD;
      max-width: 332px;
      @include fluid-type(380px, $maxWidth, 10px, 14px);
      opacity: 0;
      transform: translateX(60px);
      transition: opacity .6s ease-in-out, transform .6s ease-in-out;
      @include breakpoint(lg){
        max-width: 100%;
      }
    }
  }
}

/*############ ACCESS END #############*/

/*############ POSSIBILITIES #############*/

.possibilities {
  overflow: hidden;
  background-color: #040C1A;
  padding: 0 15px 150px;

  @include breakpoint(lg){
    padding-bottom: 100px;
  }
  @include breakpoint(md){
    padding-bottom: 60px;
  }
  @include breakpoint(sm){
    padding-bottom: 40px;
  }
  &__row {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: end;
    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 25px;
    }
  }

  &__img-wrapper {
    max-width: 545px;

    @include breakpoint(md){
      max-width: 50%;
    }
    @include breakpoint(sm){
      max-width: 100%;
    }
  }

  &__img {
    opacity: 0;
    transform: scale(.4);
    transition: opacity 1s ease-in, transform .6s ease-in;
  }
  &__txt{
    height: fit-content;
    margin-right: 84px;
    margin-bottom: 34px;
    @include breakpoint(xl){
      margin-right: calc(100vw / 14.28);
      margin-bottom: calc(100vw / 36);
    }
    @include breakpoint(lg){
      margin-right: 0;
      margin-bottom: 0;
    }
    @include breakpoint(md){
      max-width: 50%;
    }
    @include breakpoint(sm){
      max-width: 100%;
    }
  }

  &__subtitle {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #71E5FF;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(80px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    @include fluid-type(380px, $maxWidth, 14px, 16px);
  }

  &__title {

    @extend .access__title;
    transform: translateX(80px);
    max-width: 430px;
    margin-bottom: 23px;
    @include breakpoint(md){
      max-width: unset;
      width: 100%;
    }
  }

  &__desc {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #81AFDD;
    max-width: 480px;
    opacity: 0;
    transform: translateX(80px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    @include fluid-type(380px, $maxWidth, 14px, 16px);
    @include breakpoint(sm){
      max-width: 100%;
    }
  }

  &__link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #FF8A71;
    position: relative;
    display: block;
    width: fit-content;
    margin-top: 31px;
    opacity: 0;
    transform: translateX(80px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    &:before{
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      display: block;
      opacity: 0;
      transition: .3s ease-in-out;
      background-color: #FF8A71;
      left: 0;
      bottom: -1px;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
  }
}

/*############ POSSIBILITIES END #############*/

/*############ REGISTER #############*/

.register {
  background-color: #040C1A;
  padding-bottom: 150px;
  @include breakpoint(xl){
    padding-left: 15px;
    padding-right: 15px;
  }
  @include breakpoint(lg){
    padding-bottom: 100px;
  }
  @include breakpoint(md){
    padding-bottom: 60px;
  }
  @include breakpoint(sm){
    padding-bottom: 40px;
  }

  &__row {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    border: 1px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding: 56px 46px 56px 37px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    opacity: 0;
    transform: scale(0.1);
    transition: transform 1s ease-in-out, opacity .6s ease-in-out;
    @include breakpoint(lg){
      padding: 40px 25px;
    }
    @include breakpoint(md){
      flex-direction: column;
    }
    @include breakpoint(sm){
      padding: 20px 15px;
    }
  }

  &__txt {
    @include breakpoint(md){
      display: flex;
      flex-direction: column;
    }
  }

  &__desc {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.5;
    color: #0E0E0E;
    @include fluid-type(380px, $maxWidth, 10px, 12px);
    @include breakpoint(md){
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.8;
    color: #000000;
    @include fluid-type(380px, $maxWidth, 18px, 24px);
    @include breakpoint(md){
      margin: 0 auto;
      text-align: center;
    }
  }

  &__link {
    padding: 15px 44px;
    background-color: #000000;
    border-radius: 40px;
    color: #fff;
    transition: .3s ease-in-out;
    display: block;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    height: fit-content;
    white-space: nowrap;
    @include fluid-type(380px, $maxWidth, 14px, 18px);
    @include breakpoint(md){
      margin-top: 20px;
    }

    &:visited{
      color: #fff;
    }
    &:hover{
      color: #000;
      background-color: #fff;
    }
  }
}

/*############ REGISTER END #############*/

/*############ BLOG #############*/

.blog {
  overflow: hidden;

  background: #040C1A;
  padding-bottom: 145px;
  @include breakpoint(xl){
    padding-left:15px;
    padding-right:15px;
  }
  @include breakpoint(lg){
    padding-bottom: 100px;
  }
  @include breakpoint(md){
    padding-bottom: 60px;
  }
  @include breakpoint(sm){
    padding-bottom: 40px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 115px;

    @include breakpoint(lg){
      row-gap: 100px;
    }
    @include breakpoint(md){
      row-gap: 60px;
    }
    /*@include breakpoint(sm){
      row-gap: 40px;
    }*/
  }

  &__title {
    @extend .hero__title;
    max-width: 710px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 35% 1fr 1fr;
    gap:50px;
    @include breakpoint(xl){
      gap: 30px;
    }
    @include breakpoint(lg){
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @include breakpoint(md){
      grid-template-columns: repeat(2,1fr);
    }
    @include breakpoint(sm){
      grid-template-columns: 1fr;
    }
  }
  &__article-txt{
   padding: 7px 17px 14px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
    background-color: #042c54;
    flex: 1;
    @include breakpoint(lg){
      padding: 7px 14px 14px 14px;
      row-gap: 40px;
    }
    @include breakpoint(md){
      row-gap: 30px;
    }

  }


  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__card--big {
  }

  &__img-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 41%;
    position: relative;
    overflow: hidden;
    @include breakpoint(lg){
      padding-bottom: 55%;
    }
    @include breakpoint(md){
      padding-bottom: 41%;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform:translate(-50%, -50%);
    object-fit: cover;
    transition: .3s ease-in-out;
  }

  &__article-content {
  }

  &__date {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.9;
    color: #FFFFFF;
    @include fluid-type( 380px, 768px, 10px, 12px);
  }

  &__article-title {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.5;
    color: #FFFFFF;
    transition: .3s ease-in-out;

    @include fluid-type(576px, $maxWidth, 17px, 19px);
    @include breakpoint(sm){
      @include fluid-type(380px, 576px, 15px, 17px);
      margin-top: 7px;
    }
  }

  &__article-read {
    @extend .blog__date;
    position: relative;
    width: fit-content;
    &:before{
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 8px;
      height: 1px;
      width: 100%;
      background-color: #fff;
      opacity: 0;
      transition: .3s ease-in-out;
    }

  }
  &__card-link {
    display: block;
    opacity: 0;
    transform: translateY(-80px);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;

    @include breakpoint(lg){
      transform: translate(0) scale(1.2);
    }
    &:nth-child(odd):not(:first-child){
      @include breakpoint(md){
        transform:translate(80px, 0);
      }
    }
    &:nth-child(even){
      @include breakpoint(md){
        transform:translate(-80px, 0);
      }
    }
    &:hover{
      .blog__img{
        transform: translate(-50%, -50%) scale(1.2);
      }
      .blog__article-read{
        &:before{
          opacity: 1;
        }
      }
      .blog__article-title{
        color: #FF4820;
      }
    }
    &:first-child{
      grid-row: 1/3;
      transform: translate(-120px, 0);
      .blog__img-wrapper{
        padding-bottom: 69%;
        @include breakpoint(lg){
          padding-bottom: unset;
          height: 100%;
          width: 35%;
        }
        @include breakpoint(sm){
          padding-bottom: 41%;
          height: 0;
          width: 100%;
        }
      }
      .blog__card{
        @include breakpoint(lg){
          flex-direction: row;
        }
        @include breakpoint(sm){
          flex-direction: column;
        }
      }
      .blog__article-txt{
        padding: 33px 50px 25px 25px;
        @include breakpoint(md){
          padding: 15px 40px 20px 20px;
        }
        @include breakpoint(sm){
          padding: 7px 14px 14px 14px;
        }
        .blog__article-title{
          font-size: 25px;
          line-height: 1.2;

          @include fluid-type(768px, $maxWidth, 19px, 25px);
          @include breakpoint(md){
            @include fluid-type(576px, 768px, 17px, 19px);
          }
          @include breakpoint(sm){
            @include fluid-type(380px, 576px, 15px, 17px);
            line-height: 1.5;
          }
        }
      }
      @include breakpoint(lg){
        grid-row: 1/2;
        grid-column: 1/4;
        transform: translate(80px,0);
      }
      @include breakpoint(md){
        grid-column: 1/3;

      }
      @include breakpoint(sm){
        grid-column: 1/2;
        //transform: translate(80px, 0);
      }
    }

    &--big{

    }
  }
}

/*############ BLOG END #############*/

/*############ REQUEST #############*/

.request {
  background-color: #031B34;
  padding: 175px 0 185px;

  @include breakpoint(xl){
    padding-left: 15px;
    padding-right: 15px;
  }
  @include breakpoint(lg){
    padding-top: 150px;
    padding-bottom: 155px;
  }
  @include breakpoint(md){
    padding: 100px 15px;
  }
  @include breakpoint(sm){
    padding-top: 70px;
    padding-bottom: 80px;
  }

  &__row {
  }

  &__title {
    @extend .blog__title;
    max-width: 825px;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(lg){
      max-width: 86%;
    }
    @include breakpoint(md){
      transform: translate(0, -60px);
    }
    @include breakpoint(sm){
      max-width: 100%;
    }

  }

  &__link-btn {
    display: block;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 1.15;
    color: #FFFFFF;
    margin: 64px auto 0;
    padding: 22px 24px 21px;
    border: 1px solid #fff;
    width: fit-content;
    opacity: 0;
    transform: scale(.2);
    transition: background-color .3s ease-in-out,
                color .3s ease-in-out,
                opacity .6s ease-in,
                transform .6s ease-in;
    @include fluid-type(380px, $maxWidth, 15px, 18px);
    @include breakpoint(md){
      padding: 18px 22px;
    }
    @include breakpoint(sm){
      padding: 15px 20px;
    }

    &:hover{
      color:  #031B34;
      background-color: #fff;
    }
    &:active{
      color: #ffffff;
      background-color: #042c54;
    }
  }
}
/*############ REQUEST END #############*/

