/*NAVIGATION*/
$navBreakpoint: md;
/*NAVIGATION*/


/*FONTS PATH*/
$gilroyPath:'../fonts/Gilroy/';
/*FONTS PATH*/


/*CONTENT*/
$maxWidth: 1200px;
/*CONTENT*/

$mainColor: #000;
$secondaryColor: #68ce18;