<header class="header">
    <div class="content">
        <nav class="nav" aria-label="Open menu" role="navigation">
            <a href="#" class="nav__logo">
                <svg width="64" height="17" viewBox="0 0 64 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5659 7.41999V8.73999C16.5659 11.0427 15.8472 12.8833 14.4099 14.262C12.9872 15.626 11.1759 16.308 8.97591 16.308C6.58525 16.308 4.59791 15.538 3.01391 13.998C1.44458 12.458 0.659912 10.566 0.659912 8.32199C0.659912 6.07799 1.43725 4.17866 2.99191 2.62399C4.56125 1.06933 6.47525 0.291992 8.73391 0.291992C10.1712 0.291992 11.4839 0.614659 12.6719 1.25999C13.8746 1.90533 14.8059 2.75599 15.4659 3.81199L12.4739 5.52799C12.1366 4.99999 11.6306 4.56733 10.9559 4.22999C10.2959 3.89266 9.54791 3.72399 8.71191 3.72399C7.40658 3.72399 6.32125 4.15666 5.45591 5.02199C4.60525 5.88733 4.17991 6.99466 4.17991 8.34399C4.17991 9.67866 4.61991 10.7713 5.49991 11.622C6.37991 12.458 7.55325 12.876 9.01991 12.876C11.0586 12.876 12.3712 12.084 12.9579 10.5H8.84391V7.41999H16.5659Z" fill="white"/>
                    <path d="M24.3804 0.599992C25.891 0.599992 27.167 1.11333 28.2084 2.13999C29.2497 3.16666 29.7704 4.41333 29.7704 5.87999C29.7704 7.34666 29.2497 8.59333 28.2084 9.61999C27.167 10.6467 25.891 11.16 24.3804 11.16H22.0704V16H18.5504V0.599992H24.3804ZM24.3804 7.85999C24.923 7.85999 25.3704 7.66933 25.7224 7.28799C26.0744 6.90666 26.2504 6.43733 26.2504 5.87999C26.2504 5.32266 26.0744 4.85333 25.7224 4.47199C25.3704 4.09066 24.923 3.89999 24.3804 3.89999H22.0704V7.85999H24.3804Z" fill="white"/>
                    <path d="M41.6521 0.599992V3.98799H37.6921V16H34.1721V3.98799H30.2121V0.599992H41.6521Z" fill="white"/>
                    <path d="M42.0973 11.006V7.83799H50.4573V11.006H42.0973Z" fill="white"/>
                    <path d="M59.9393 6.84799C60.9219 7.18533 61.7139 7.73533 62.3153 8.49799C62.9166 9.24599 63.2173 10.1333 63.2173 11.16C63.2173 12.7733 62.6746 14.0347 61.5893 14.944C60.5039 15.8533 59.1766 16.308 57.6073 16.308C56.3899 16.308 55.2973 16.0293 54.3293 15.472C53.3759 14.9147 52.6719 14.0933 52.2173 13.008L55.2533 11.248C55.6346 12.3333 56.4193 12.876 57.6073 12.876C58.2966 12.876 58.8173 12.7147 59.1693 12.392C59.5213 12.0693 59.6973 11.6587 59.6973 11.16C59.6973 10.6613 59.5213 10.2507 59.1693 9.92799C58.8173 9.60533 58.2966 9.44399 57.6073 9.44399H56.8813L55.5393 7.44199L58.3333 3.89999H52.7013V0.599992H62.6013V3.45999L59.9393 6.84799Z" fill="white"/>
                </svg>
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">What is GPT?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Open AI</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Case Studies</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Library</a>
                    </li>
                </ul>
                <div class="nav__btn-wrapper">
                    <a href="#" class="nav__btn-login nav__btn">Sign in</a>
                    <a href="#" class="nav__btn-register nav__btn">Sign up</a>
                </div>
            </div>

            <button type="button" class="hamburger" aria-haspopup="true" aria-controls="nav-menu" aria-expanded="true">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </button>
        </nav>
    </div>
</header>