<section class="about">
  <div class="content">
    <div class="about__row">
      <div class="about__card about__card--big">
        <h3 class="about__card-title">What is GPT-3</h3>
        <p class="about__card-txt">We so opinion friends me message as delight. Whole front do of plate heard oh ought.
          His defective nor convinced residence own. Connection has put impossible own apartments boisterous. At
          jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by.
        </p>
      </div>
      <div class="about__title-wrapper">
        <h2 class="about__title">
          The possibilities are beyond your imagination
        </h2>
        <a href="#" class="about__lib-link">Explore The Library</a>
      </div>
      <div class="about__cards">
        <div class="about__card">
          <h3 class="about__card-title">Chatbots</h3>
          <p class="about__card-txt">
            We so opinion friends me message as delight. Whole front do of plate heard oh
            ought.
          </p>
        </div>

        <div class="about__card">
          <h3 class="about__card-title">Knowledgebase</h3>
          <p class="about__card-txt">
            At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put impossible own
            apartments b
          </p>
        </div>

        <div class="about__card">
          <h3 class="about__card-title">Education</h3>
          <p class="about__card-txt">
            At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put impossible own
            apartments b
          </p>
        </div>
      </div>
      <div class="about__top-gradient"></div>
      <div class="about__bottom-gradient"></div>
    </div>
  </div>
</section>