<section class="blog">
    <div class="content">
        <div class="blog__row">
            <h2 class="blog__title">
                A lot is happening, We are blogging about it.
            </h2>
            <div class="blog__cards">
                <a href="#" class="blog__card-link blog__card--big--big">
                    <div class="blog__card blog__card--big">
                        <div class="blog__img-wrapper">
                            <img src="img/card-1.png" alt="GPT" class="blog__img">
                        </div>
                        <div class="blog__article-txt">
                            <div class="blog__article-content">
                                <time class="blog__date">Sep 26, 2021</time>
                                <div class="blog__article-title">
                                    GPT-3 and Open  AI is the future. Let us exlore how it is?
                                </div>
                            </div>
                            <p class="blog__article-read">Read Full Article</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="blog__card-link">
                    <div class="blog__card">
                        <div class="blog__img-wrapper">
                            <img src="img/card-2.png" alt="GPT" class="blog__img">
                        </div>
                        <div class="blog__article-txt">
                            <div class="blog__article-content">
                                <time class="blog__date">Sep 26, 2021</time>
                                <div class="blog__article-title">
                                    GPT-3 and Open  AI is the future. Let us exlore how it is?
                                </div>
                            </div>
                            <p class="blog__article-read">Read Full Article</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="blog__card-link">
                    <div class="blog__card">
                        <div class="blog__img-wrapper">
                            <img src="img/card-3.png" alt="GPT" class="blog__img">
                        </div>
                        <div class="blog__article-txt">
                            <div class="blog__article-content">
                                <time class="blog__date">Sep 26, 2021</time>
                                <div class="blog__article-title">
                                    GPT-3 and Open  AI is the future. Let us exlore how it is?
                                </div>
                            </div>
                            <p class="blog__article-read">Read Full Article</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="blog__card-link">
                    <div class="blog__card">
                        <div class="blog__img-wrapper">
                            <img src="img/card-4.png" alt="GPT" class="blog__img">
                        </div>
                        <div class="blog__article-txt">
                            <div class="blog__article-content">
                                <time class="blog__date">Sep 26, 2021</time>
                                <div class="blog__article-title">
                                    GPT-3 and Open  AI is the future. Let us exlore how it is?
                                </div>
                            </div>
                            <p class="blog__article-read">Read Full Article</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="blog__card-link">
                    <div class="blog__card">
                        <div class="blog__img-wrapper">
                            <img src="img/card-5.png" alt="GPT" class="blog__img">
                        </div>
                        <div class="blog__article-txt">
                            <div class="blog__article-content">
                                <time class="blog__date">Sep 26, 2021</time>
                                <div class="blog__article-title">
                                    GPT-3 and Open  AI is the future. Let us exlore how it is?
                                </div>
                            </div>
                            <p class="blog__article-read">Read Full Article</p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>