<section class="clients">
  <div class="content">
    <div class="clients__row">
      <div class="clients__item">
        <img src="img/google.png" alt="Google" class="clients__img">
      </div>

      <div class="clients__item">
        <img src="img/slack.png" alt="Slack" class="clients__img">
      </div>

      <div class="clients__item">
        <img src="img/atlassian.png" alt="Atlassian" class="clients__img">
      </div>

      <div class="clients__item">
        <img src="img/dropbox.png" alt="Dropbox" class="clients__img">
      </div>

      <div class="clients__item">
        <img src="img/shopify.png" alt="Shopify" class="clients__img">
      </div>

    </div>
  </div>
</section>