<section class="hero">
    <div class="hero__inner">
        <div class="hero__bg-top"></div>
        <div class="content">

            <div class="hero__row">
                <div class="hero__txt">
                    <h1 class="hero__title">
                        Let’s Build Something
                        amazing with GPT-3
                        OpenAI
                    </h1>
                    <div class="hero__form-wrapper">
                        <p class="hero__desc">
                            Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing.
                            Indulgence way everything joy alteration boisterous the attachment. Party we years to order allow
                            asked of.
                        </p>
                        <form action="" class="hero__form">

                                <input type="email" class="hero__input" placeholder="Your Email Address">
                                <button type="submit" class="hero__submit-btn">Get Started</button>

                        </form>
                    </div>
                    <div class="hero__users users">
                        <div class="users__pictures">
                            <div class="users__img-wrapper">
                                <img src="img/user-1.png" alt="User's picture" class="users__profile-img">
                            </div>
                            <div class="users__img-wrapper">
                                <img src="img/user-1.png" alt="User's picture" class="users__profile-img">
                            </div>
                            <div class="users__img-wrapper">
                                <img src="img/user-2.png" alt="User's picture" class="users__profile-img">
                            </div>
                            <div class="users__img-wrapper">
                                <img src="img/user-2.png" alt="User's picture" class="users__profile-img">
                            </div>
                            <div class="users__img-wrapper">
                                <img src="img/user-3.png" alt="User's picture" class="users__profile-img">
                            </div>
                            <div class="users__img-wrapper">
                                <img src="img/user-3.png" alt="User's picture" class="users__profile-img">
                            </div>
                            <div class="users__img-wrapper users__img-wrapper">
                                <span class="users__total">1.6k+</span>
                            </div>
                        </div>
                        <p class="users__desc">
                            1,600 people requested access a visit in last 24 hours
                        </p>
                    </div>
                </div>
                <div class="hero__img-wrapper">
                    <img src="img/hero.png" alt="AI" class="hero__img">
                </div>
            </div>
        </div>
    </div>
</section>