<section class="possibilities">
    <div class="content">
        <div class="possibilities__row">
            <div class="possibilities__img-wrapper">
                <img src="img/imagination.png" alt="Imagination" class="possibilities__img">
            </div>
            <div class="possibilities__txt">
                <p class="possibilities__subtitle">
                    Request Early Access to Get Started
                </p>
                <h2 class="possibilities__title">
                    The possibilities are beyond your imagination
                </h2>
                <p class="possibilities__desc">
                    Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing.
                    Indulgence way everything joy alteration boisterous the attachment. Party we years to order allow
                    asked of.
                </p>
                <a href="#" class="possibilities__link">
                    Request Early Access to Get Started
                </a>
            </div>
        </div>
    </div>
</section>