<section class="register">
    <div class="content">
        <div class="register__row">
            <div class="register__txt">
                <p class="register__desc">Request Early Access to Get Started</p>
                <p class="register__title">Register today & start exploring the endless possiblities.</p>
            </div>
            <a href="#" class="register__link">Get Started</a>
        </div>
    </div>
</section>