<section class="request">
  <div class="content">
    <div class="request__row">
      <h2 class="request__title">
        Do you want to step in to the future before others
      </h2>
      <a href="#" class="request__link-btn">
        Request Early Access
      </a>
    </div>
  </div>
</section>